@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------------- Colours---------------------------------*/

.bg-color-name-title{
background-color: #1e1f24;
}



.ui-menu-color-github{
    background-color: #010a43;
}

div#map {min-height: 360px;}

.ui-menu-color-interests{
    background-color: #ffa41b;
}

.bg-color-three-reasons{
    background-color: #fff;

}

.bg-color-work-history{
    background-color: #8186d5;
}

.bg-color-contact{

    background-color: #fff;
    
}

.bg-color-personal-info{
    background-color: #f4f4f4;
}

.ui-menu-color-home{
    background-color: #82acff;

}

.ui-menu-color-resume{
    background-color: #8186d5;
    
}
.ui-menu-color-contact{
    background-color: #00b7a8;
    
}
.ui-menu-color-download{
    background-color: #ff2e63;
    
}
/*----------------------------------------- Special paddings/margins/texts---------------------------------*/

h1,h2,h3,h4{
    margin:0;
}

.heading-projects{
        margin-top: 80px;
    margin-bottom: 80px;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo" , sans-serif;
    font-weight: 300;
    color:#fafafa;
}

.inline-block{
    display: inline-block;

}

.row-table{
    display: table;

}

.section-column{
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}


.history-heading,
.section-heading{
    font-family: "Exo" , sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*----------------------------------------- Heading---------------------------------*/
header {
margin:0;
}

.heading{
    margin-left: 50px;
}

.logo{
    background: url("../images/P1030380.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.name{
    font-family: "Exo" , sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title{
    font-family: "Roboto" , sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child){
    margin:0;
}


.menucontainer{
    font-size: 0;
}
#nav{
    margin: 0;
}
#nav li{
    font-size: 14px;
    padding: 0;
}

.menuitem{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width:100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i{
    padding-top: 22px;
    display: block;
    color:#fafafa;
    font-size: 22px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;

}

/*----------------------------------------- Hover.css---------------------------------*/

.hvr-sweep-to-bottom:before{
 background-color: rgba(0, 0, 0, 0.2);
 height: 120px;
}

/*----------------------------------------- Footer---------------------------------*/

footer{
    background-color: #1e1f24;
    color:#fafafa;
    min-height: 120px;
    margin:0;
}

.cv-pdf i{
font-size: 18px;
color:#fafafa;
text-align: center;
padding-left: 5px;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover{
color:#f67280;
}

.social-links{
padding-bottom: 15px;

}

.social-links li a i{
width:32px;
height:32px;
padding:12px;
border-radius: 50%;
font-size: 13px;
line-height: 7px;
text-align: center;
color: #fafafa;
background-color: #8f8f8f;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
background-color: #1a2849;
}

#footer-details{
padding:20px;
}

/*----------------------------------------- Three reasons---------------------------------*/

.three-reasons-icon{
    font-size:26px;
    color: #82acff;

}

.three-reasons-heading{
    margin-bottom: 15px;
}

/*----------------------------------------- Personal info---------------------------------*/

.personal-info-item{
margin-bottom: 20px;
display: block;
clear: both;

}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;

}

.personal-info-item .key p,
.personal-info-item .value p {
    margin:0;
}

.personal-info-item .key{
width:30%;
margin-right: 21px;
padding-top: 2px;
vertical-align: top;


}

.personal-info-item .key p{
    font-weight: 700;

}

.personal-info-item .value {
    position: relative;
    width:60%;
}


/*----------------------------------------- SKILLS---------------------------------*/

.progress{

    position: relative;
    height:25px;
    margin-bottom: 4px;

}

.progress-type{

    position: absolute;
    left: 0px;
    font-weight: 400px;
    padding: 3px 30px 2px 10px;
    color:#fafafa;
    background-color: rgba(25, 25, 25, 0.2)
}

.progress-section{

    margin: 40px 20px;

}

/*----------------------------------------- Work History---------------------------------*/

.history-heading{
    color: #fafafa;
    margin-bottom: 15px;
}

.timeline-item{
    padding: 4em 2em 0em 2em;
    position: relative;
    color:#fafafa;
    border-left: 1px solid;
}

.timeline-item p{

    padding: 0;
    margin: 0;

}

.timeline-item:before{
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo" , sans-serif;
    font-weight: 500px;
    font-size: 0.8em;
     padding: 0;
    margin: 0;
}

.timeline-item:after{

    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background-color: #fafafa;
}

.history-items{
    margin-bottom: 30px;
}

/*----------------------------------------- Contact form---------------------------------*/

.contact-heading{

    font-family: "Exo" , sans-serif;
    font-weight:300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-from{

    padding-top: 10px;
    margin: 0 auto;
    max-width:70%;
}

button[type="submit"] {

    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}


/*----------------------------------------- Media Queries---------------------------------*/

@media(min-width:992px) {

    .center-from{

    padding-top: 30px;
    min-height:240px;
    margin: 0 auto;
    max-width:50%;
}
}

.navbar-default .navbar-nav li a:hover {
    color: #564F6F;
}

.navbar-right {
    float: right!important;
}

@media (max-width: 5000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}
